               @import url('https://fonts.googleapis.com/css?family=Lato|Open+Sanss|Quicksand');
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Regular.otf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../../fonts/ProximaNova-Regular.otf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Avenir';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../../fonts/AvenirNextLTPro-Regular.otf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

$background-color: #F7F9F9;
$main-font: Proxima Nova, sans-serif;
$secondary-font: Avenir, sans-serif;
$main-color: #333333;
$blue-color: #63ADF2;
$nav-color: #f0f0f0;
$contact-color: #f0f0f0;
$blue-color: #0078A0;
$footer-color: #2978A0;
$blog-title-color: red;

* {
  margin: 0;
  padding: 0;
  border: 0; }

body{
  background-color: $background-color;
}

#main-info{
  font-family: $secondary-font;
#blog-content{
    padding-top: 50px;
    padding-bottom: 3%;
    p#blog-title{
      font: 3em 'Muli', sans-serif;
      margin: 5% 0; 
      margin-bottom: 0;
      text-align: left;
      max-width: 75%;
      color: $blue-color;
    }
    p#blog-date{
        font-size: 1.5em;
    }
    #blog-writing{
        p{
            font-size: 1.3em;
            line-height: 1.5;
            padding-top: 3%;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.4em;
            }
        }
            ul{
                a{
                    text-decoration: none;
                }
                padding-left: 5%;
                li{
                    font-size: 1.2em;
                    font-style: italic;
                }
            }
            .helpful-links{
                padding-left: 5%;
                li{
                    padding: 2px 0;
                    font-size: 1.2em;
                }
            }
        q{
            font-size: 1.7em;
            letter-spacing: 0.7px;
        }
    }
}
}


/* ---------------Footer ------------ */
// FOOTER 
.footer {
    margin: 0;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 2%;
    .row {
        margin: 0;
        padding: 0;
        .social-media {
            ul {
                list-style-type: none;
                text-align: right; // margin-right: 10%;
                li {
                    padding-left: 20px; // padding: 3px 10px;
                    display: inline-block;
                    a {
                        img {
                            height: 30px;
                            width: 30px;
                            opacity: 0.7;
                            -moz-transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            transition: all 0.5s;
                            &:hover {
                                opacity: 1;
                                -moz-transform: scale(1.1);
                                -webkit-transform: scale(1.1);
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright {
        padding: 0;
        a {
            margin-right: 15px;
            font: 1.2em 'Proxima Nova', sans-serif;
            font-weight: 700 !important;
            text-decoration: none;
            text-transform: lowercase;
            letter-spacing: 1.5px;
            color: black;
            opacity: 0.7;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &:hover {
                cursor: pointer;
                opacity: 1;
                color: $blue-color;
            }
        }
        p {
            padding-top: 3%;
            // line-height: 3 !important;
            letter-spacing: 0.5px;
            font: 1em $main-font;
        }
    }
}

/* -------------- Media Queries ---------------*/

 
@media screen and (max-width: 576px) {
  #intro h1 {
    font-size: 700%; }
  #intro h2 {
    font-size: 200%; }
  #intro #directory {
    font-size: 225%; }
  header.navigation .navbar-default .navbar-brand{
    font-size: 0.7em;
    margin: 0;
    letter-spacing: 1.1px;
    line-height: 20px;
  } 
  body > header > nav > div > div.navbar-header > button {
    margin-right: 5px !important;
  } 
  #footer .resume-copyright p{
    font-size: 1.02em;
  }
  #intro .intro-info h1{
    line-height: 80px;
    font-size: 4.5em;
  }
  #intro .intro-info h2{
    font-size: 1.0em;
  }
}

@media screen and (max-width: 768px){
    #project-picture > div {
    text-align: center;
  }
}